@{
  Layout = "_Layout";
}

@model PasswordManager.Models.Password;

<p>@Html.ActionLink("Home", "Index", "Passwords") | @Html.ActionLink("Logout", "Index", "Account")</p>

<h1>Add a new account</h1>
@using (Html.BeginForm())
{
  <div class="mb-3 row">
    <label for="inputWebsite" class="col-sm-2 col-form-label">Website</label>
    <div class="col-sm-10">
      @Html.TextBoxFor(model => model.Site)
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputSite" class="col-sm-2 col-form-label">Website Email</label>
    <div class="col-sm-10">
      @Html.TextBoxFor(model => model.SiteEmail)
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      @Html.TextBoxFor(model => model.SiteUsername)
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      @Html.TextBoxFor(model => model.SitePassword, new { id = "passwordBox" })
      <button id="generateBtn" type="button">Generate Password</button>
    </div>
  </div>

  

  <input type="submit" value="Add a new account" />
}

<p>@Html.ActionLink("Show all passwords", "Index")</p>

<script>
document.getElementById("generateBtn").addEventListener("click", function() {
  var password = generatePassword(12);
  document.getElementById("passwordBox").value = password;
});

function generatePassword(length) {
  var result           = '';
  var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
  var numbers          = '0123456789'; 
  var all              = characters + numbers;
  
  var charactersLength = characters.length;
  var numbersLength    = numbers.length;
  var allLength        = all.length;

  var randomChar = characters.charAt(Math.floor(Math.random() * charactersLength));
  var randomNumber = numbers.charAt(Math.floor(Math.random() * numbersLength));

  for (var i = 0; i < length - 2; i++) {
    result += all.charAt(Math.floor(Math.random() * allLength));
  }

  result += randomChar;
  result += randomNumber;

  var resultArray = result.split('');
  for (let i = resultArray.length - 1; i > 0; i--) {
    let j = Math.floor(Math.random() * (i + 1));
    [resultArray[i], resultArray[j]] = [resultArray[j], resultArray[i]];
  }
  result = resultArray.join('');

  return result;
}

</script>
