@{
  Layout = "_Layout";
}

@model PasswordManager.Models.Password

<p>@Html.ActionLink("Home", "Index", "Passwords") | @Html.ActionLink("Logout", "Index", "Account")</p>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.PasswordId)

  @Html.LabelFor(model => model.Site)
  @Html.EditorFor(model => model.Site)

  @Html.LabelFor(model => model.SiteUsername)
  @Html.TextBoxFor(model => model.SiteUsername)

  @Html.LabelFor(model => model.SiteEmail)
  @Html.EditorFor(model => model.SiteEmail)

  @Html.LabelFor(model => model.SitePassword)
  @Html.EditorFor(model => model.SitePassword)

  <input type="submit" value="Submit" />
}

<p>@Html.ActionLink("Back to List", "Index")</p>
