@{
Layout = "_Layout";
}

@using PasswordManager.ViewModels

@model RegisterViewModel

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Secret Squirrel</h2>
          <hr />
          <h3>Create Account</h3>
        </div>
        <div class="card-body">
          @if(!ViewData.ModelState.IsValid)
          {
          <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
          </div>
          }

          @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
          {
          <div class="form-group">
            <div class="col-12">
              @Html.LabelFor(user => user.Email, new { @class = "control-label" })
            </div>
            <div class="col-12">
              @Html.TextBoxFor(user=> user.Email, new { @class = "form-control mt-2" })
            </div>
          </div>

          <div class="form-group">
            <div class="col-12">
              @Html.LabelFor(user=> user.Password, new { @class = "control-label" })
            </div>
            <div class="col-12">
              @Html.EditorFor(user=> user.Password, new { @class = "form-control mt-2" })
            </div>

          </div>

          <div class="form-group">
            <div class="col-12">
              @Html.LabelFor(user=> user.ConfirmPassword, new { @class = "control-label" })
            </div>
            <div class="col-12">
              @Html.EditorFor(user=> user.ConfirmPassword, new { @class = "form-control mt-2" })
            </div>
          </div>

          <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary" />
          </div>
          }
        </div>
        <div class="card-footer text-center">
          <p>@Html.ActionLink("Back to accounts page", "Index", null, new { @class = "btn btn-link" })</p>
        </div>
      </div>
    </div>
  </div>
</div>
